In [4]:
import pandas as pd
import numpy as np

train = pd.read_csv('../data/train.csv', index_col=0)
test = pd.read_csv('../data/test.csv', index_col=0)

weather = pd.read_csv('../data/weather.csv', index_col=0)
meta = pd.read_csv('../data/metadata.csv')
holidays = pd.read_csv('../data/holidays.csv', delimiter=';')

ModuleNotFoundError: No module named 'pandas'

In [79]:
weather.head(50)

                 Timestamp  Temperature   Distance  SiteId
78064  2013-12-31 19:00:00         -7.2  24.889929       1
86746  2013-12-31 19:00:00         -8.3  23.303097       1
90002  2013-12-31 19:00:00         -7.8  20.952256       1
90003  2013-12-31 19:00:00         -8.0  20.952256       1
100541 2013-12-31 19:34:00         -8.1  16.610602       1
100542 2013-12-31 19:55:00         -8.2  16.610602       1
78065  2013-12-31 20:00:00         -7.8  24.889929       1
90004  2013-12-31 20:00:00         -8.0  20.952256       1
100543 2013-12-31 20:15:00         -8.3  16.610602       1
100544 2013-12-31 20:35:00         -8.5  16.610602       1
100545 2013-12-31 20:54:00         -8.4  16.610602       1
78066  2013-12-31 21:00:00         -8.1  24.889929       1
90005  2013-12-31 21:00:00         -8.0  20.952256       1
100546 2013-12-31 21:15:00         -8.3  16.610602       1
100547 2013-12-31 21:35:00         -8.3  16.610602       1
100548 2013-12-31 21:55:00         -8.5  16.610602       1
78067  2013-12-31 22:00:00         -8.0  24.889929       1
86747  2013-12-31 22:00:00         -8.9  23.303097       1
90006  2013-12-31 22:00:00         -9.0  20.952256       1
100549 2013-12-31 22:14:00         -8.6  16.610602       1
100550 2013-12-31 22:35:00         -8.8  16.610602       1
100551 2013-12-31 22:54:00         -9.0  16.610602       1
78068  2013-12-31 23:00:00         -9.0  24.889929       1
90007  2013-12-31 23:00:00         -9.0  20.952256       1
100552 2013-12-31 23:14:00         -8.9  16.610602       1
100553 2013-12-31 23:35:00         -8.8  16.610602       1
78069  2014-01-01 00:00:00         -9.0  24.889929       1
90008  2014-01-01 00:00:00         -9.0  20.952256       1
78070  2014-01-01 01:00:00         -8.8  24.889929       1
86748  2014-01-01 01:00:00         -8.9  23.303097       1
90009  2014-01-01 01:00:00         -8.8  20.952256       1
90010  2014-01-01 01:00:00         -9.0  20.952256       1
78071  2014-01-01 02:00:00         -8.8  24.889929       1
90011  2014-01-01 02:00:00         -9.0  20.952256       1
78072  2014-01-01 03:00:00         -8.7  24.889929       1
90012  2014-01-01 03:00:00         -8.0  20.952256       1
78073  2014-01-01 04:00:00         -9.6  24.889929       1
86749  2014-01-01 04:00:00         -8.3  23.303097       1
90013  2014-01-01 04:00:00         -8.0  20.952256       1
86750  2014-01-01 04:50:00         -9.0  23.303097       1
86751  2014-01-01 04:53:00         -9.4  23.303097       1
78074  2014-01-01 05:00:00        -10.1  24.889929       1
90014  2014-01-01 05:00:00         -9.0  20.952256       1
86752  2014-01-01 05:07:00         -9.0  23.303097       1
78075  2014-01-01 06:00:00        -10.4  24.889929       1
90015  2014-01-01 06:00:00         -9.0  20.952256       1
86753  2014-01-01 06:12:00         -9.0  23.303097       1
78076  2014-01-01 07:00:00        -11.0  24.889929       1
86754  2014-01-01 07:00:00         -9.4  23.303097       1
90016  2014-01-01 07:00:00         -9.7  20.952256       1

In [69]:
meta.head(20)

,SiteId,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,WednesdayIsDayOff,ThursdayIsDayOff,FridayIsDayOff,SaturdayIsDayOff,SundayIsDayOff
0,1,1387.205119,15.0,18.0,False,False,False,False,False,True,True
1,2,6098.278376,30.0,18.0,False,False,False,False,False,True,True
2,3,10556.293605,5.0,18.0,False,False,False,False,False,True,False
3,5,12541.181277,30.0,18.0,False,False,False,False,False,True,True
4,6,9150.195373,30.0,18.0,False,False,False,False,False,True,True
5,7,15168.125971,30.0,18.0,False,False,False,False,False,True,True
6,8,22221.851847,30.0,18.0,False,False,False,False,False,True,True
7,9,14588.849015,30.0,18.0,False,False,False,False,False,True,True
8,10,6393.671251,30.0,18.0,False,False,False,False,False,True,True
9,11,2517.739425,30.0,18.0,False,False,False,False,False,True,True
10,12,33676.246551,15.0,18.0,False,False,False,False,False,True,True
11,13,891.487850,15.0,18.0,False,False,False,False,False,True,True
12,14,702.101695,15.0,18.0,False,False,False,False,False,True,True
13,15,1416.796369,15.0,18.0,False,False,False,False,False,True,True
14,16,1218.738383,15.0,18.0,False,False,False,False,False,True,True
15,17,1625.837520,15.0,18.0,False,False,False,False,False,True,True
16,18,677.533195,15.0,18.0,False,False,False,False,False,True,True
17,19,613.820937,30.0,18.0,False,False,False,False,False,True,True
18,20,17449.241936,10.0,18.0,False,False,False,False,False,True,True
19,21,10985.292634,10.0,18.0,False,False,False,False,False,True,True

In [65]:
test.query('SiteId == 20')

,Timestamp,SiteId,ForecastId,Value,wday,mday,yday,month,year,time,...,wday_cos,yday_sin,yday_cos,month_sin,month_cos,time_sin,time_cos,Temperature,Distance,is_off_week_day
594368,2016-02-09 22:00:00,20,634,173322.308988,1,9,40,2,2016,22.0,...,0.5,0.635432,0.772157,0.866025,0.500000,-0.500000,0.866025,-7.0,20.945215,0.0
594458,2016-02-09 23:00:00,20,634,175211.436698,1,9,40,2,2016,23.0,...,0.5,0.635432,0.772157,0.866025,0.500000,-0.258819,0.965926,-7.0,20.945215,0.0
594552,2016-02-10 00:00:00,20,634,227494.864074,2,10,41,2,2016,0.0,...,-0.5,0.648630,0.761104,0.866025,0.500000,0.000000,1.000000,-6.1,2.880970,0.0
594656,2016-02-10 01:00:00,20,634,288062.871938,2,10,41,2,2016,1.0,...,-0.5,0.648630,0.761104,0.866025,0.500000,0.258819,0.965926,-8.0,20.945215,0.0
594742,2016-02-10 02:00:00,20,634,298587.455325,2,10,41,2,2016,2.0,...,-0.5,0.648630,0.761104,0.866025,0.500000,0.500000,0.866025,-8.0,20.945215,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299234,2017-11-04 20:00:00,20,647,164162.489030,5,4,308,11,2017,20.0,...,0.5,-0.831171,0.556017,-0.500000,0.866025,-0.866025,0.500000,21.0,20.945215,1.0
1299256,2017-11-04 21:00:00,20,647,165767.034135,5,4,308,11,2017,21.0,...,0.5,-0.831171,0.556017,-0.500000,0.866025,-0.707107,0.707107,21.0,20.945215,1.0
1299278,2017-11-04 22:00:00,20,647,165227.009158,5,4,308,11,2017,22.0,...,0.5,-0.831171,0.556017,-0.500000,0.866025,-0.500000,0.866025,21.7,2.880970,1.0
1299294,2017-11-04 23:00:00,20,647,166389.390454,5,4,308,11,2017,23.0,...,0.5,-0.831171,0.556017,-0.500000,0.866025,-0.258819,0.965926,NaN,NaN,1.0
1299311,2017-11-05 00:00:00,20,647,165328.258388,6,5,309,11,2017,0.0,...,1.0,-0.821477,0.570242,-0.500000,0.866025,0.000000,1.000000,NaN,NaN,1.0

In [16]:
test.count()

SiteId        1309176
Timestamp     1309176
ForecastId    1309176
Value         1290114
dtype: int64

In [17]:
test.isna().sum()

SiteId            0
Timestamp         0
ForecastId        0
Value         19062
dtype: int64

In [18]:
train.count()

SiteId        6559830
Timestamp     6559830
ForecastId    6559830
Value         6473229
dtype: int64

In [19]:
train.isna().sum()

SiteId            0
Timestamp         0
ForecastId        0
Value         86601
dtype: int64

In [20]:
weather.head(5)

                  Timestamp  Temperature   Distance  SiteId
78064   2013-12-31 19:00:00         -7.2  24.889929       1
86746   2013-12-31 19:00:00         -8.3  23.303097       1
90002   2013-12-31 19:00:00         -7.8  20.952256       1
90003   2013-12-31 19:00:00         -8.0  20.952256       1
100541  2013-12-31 19:34:00         -8.1  16.610602       1

In [21]:
weather.isna().sum()

Timestamp      0
Temperature    0
Distance       0
SiteId         0
dtype: int64

In [22]:
meta.head(5)

,SiteId,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,WednesdayIsDayOff,ThursdayIsDayOff,FridayIsDayOff,SaturdayIsDayOff,SundayIsDayOff
0,1,1387.205119,15.0,18.0,False,False,False,False,False,True,True
1,2,6098.278376,30.0,18.0,False,False,False,False,False,True,True
2,3,10556.293605,5.0,18.0,False,False,False,False,False,True,False
3,5,12541.181277,30.0,18.0,False,False,False,False,False,True,True
4,6,9150.195373,30.0,18.0,False,False,False,False,False,True,True

In [23]:
meta.isna().sum()

SiteId               0
Surface              0
Sampling             0
BaseTemperature      0
MondayIsDayOff       0
TuesdayIsDayOff      0
WednesdayIsDayOff    0
ThursdayIsDayOff     0
FridayIsDayOff       0
SaturdayIsDayOff     0
SundayIsDayOff       0
dtype: int64

In [24]:
holidays.head(5)

         Date                   Holiday  SiteId
0  2016-12-23  Christmas Eve (Observed)       1
1  2016-12-24             Christmas Eve       1
2  2017-07-04          Independence Day       1
3  2014-11-04              Election Day       1
4  2016-09-05                 Labor Day      12

In [25]:
holidays.isna().sum()

Date       0
Holiday    0
SiteId     0
dtype: int64

In [52]:
def process_time(df):
    
    df['Timestamp'] = pd.to_datetime(df['Timestamp'])
    df = df.set_index('Timestamp')
    
    df['min'] = df.index.minute
    df['hour'] = df.index.hour
    df['wday'] = df.index.dayofweek
    df['mday'] = df.index.day
    df['yday'] = df.index.dayofyear
    df['month'] = df.index.month
    df['year'] = df.index.year
    
    df['time'] = df['hour'] + (df['min'] / 60)
    df = df.drop(columns=['hour', 'min'])
        
    df['wday_sin'] = np.sin(2 * np.pi * df['wday'] / 6)
    df['wday_cos'] = np.cos(2 * np.pi * df['wday'] / 6)
    
    df['yday_sin'] = np.sin(2 * np.pi * df['yday'] / 365)
    df['yday_cos'] = np.cos(2 * np.pi * df['yday'] / 365)
    
    df['month_sin'] = np.sin(2 * np.pi * df['month'] / 12)
    df['month_cos'] = np.cos(2 * np.pi * df['month'] / 12)
    
    df['time_sin'] = np.sin(2 * np.pi * df['time'] / 24)
    df['time_cos'] = np.cos(2 * np.pi * df['time'] / 24)
    
    df = df.reset_index(level=0)
    
    return df
  
train = process_time(train)
test = process_time(test)

In [68]:
train[["Timestamp", "SiteId", "Value", "wday_cos", "wday_sin"]].head(30)

             Timestamp SiteId         Value  wday_cos  wday_sin
0  2009-06-23 06:45:00    297  96408.826731       0.5  0.866025
1  2009-06-23 07:45:00    297  76800.251802       0.5  0.866025
2  2009-06-23 08:45:00    297  75166.203892       0.5  0.866025
3  2009-06-23 09:45:00    297  71898.108070       0.5  0.866025
4  2009-06-23 10:45:00    297  73532.155981       0.5  0.866025
5  2009-06-23 11:45:00    297  71898.108070       0.5  0.866025
6  2009-06-23 12:45:00    297  71898.108070       0.5  0.866025
7  2009-06-23 13:45:00    297  70264.060160       0.5  0.866025
8  2009-06-23 14:45:00    297  71898.108070       0.5  0.866025
9  2009-06-23 15:45:00    297  71898.108070       0.5  0.866025
10 2009-06-23 16:45:00    297  70264.060160       0.5  0.866025
11 2009-06-23 17:45:00    297  71898.108070       0.5  0.866025
12 2009-06-23 18:45:00    297  71898.108070       0.5  0.866025
13 2009-06-23 19:45:00    297  71898.108070       0.5  0.866025
14 2009-06-23 20:45:00    297  78434.299713       0.5  0.866025
15 2009-06-23 21:45:00    297  78434.299713       0.5  0.866025
16 2009-06-23 22:45:00    297  80068.347624       0.5  0.866025
17 2009-06-23 23:45:00    297  81702.395534       0.5  0.866025
18 2009-06-24 00:45:00    297  80068.347624      -0.5  0.866025
19 2009-06-24 01:45:00    297  73532.155981      -0.5  0.866025
20 2009-06-24 02:45:00    297  73532.155981      -0.5  0.866025
21 2009-06-24 03:45:00    297  73532.155981      -0.5  0.866025
22 2009-06-24 04:45:00    297  75166.203892      -0.5  0.866025
23 2009-06-24 05:45:00    297  75166.203892      -0.5  0.866025
24 2009-06-24 06:45:00    297  75166.203892      -0.5  0.866025
25 2009-06-24 07:45:00    297  76800.251802      -0.5  0.866025
26 2009-06-24 08:45:00    297  73532.155981      -0.5  0.866025
27 2009-06-24 09:45:00    297  76800.251802      -0.5  0.866025
28 2009-06-24 10:45:00    297  73532.155981      -0.5  0.866025
29 2009-06-24 11:45:00    297  73532.155981      -0.5  0.866025

In [77]:
def add_weather(df, weather):
    
    original_length = len(df)
    
    weather['Timestamp'] = pd.to_datetime(weather['Timestamp'])
    weather = weather.set_index('Timestamp')
    
    weather.index = weather.index.round(freq='15 min')
    weather = weather.reset_index(level=0)
    
    df = pd.merge(df, weather, how = 'left', on = ['year', 'month', 'mday', 'SiteId'])
    
    df = df.sort_values(['Timestamp', 'SiteId', 'Distance'])
    df = df.drop_duplicates(['Timestamp', 'SiteId'], keep='first')
    
    new_length = len(df)
    
    assert original_length == new_length, 'New Length must match original length'

    return df

train = add_weather(train, weather)
test = add_weather(test, weather)

KeyError: 'year'

Timestamp                0
SiteId                   0
ForecastId               0
Value                86601
wday                     0
mday                     0
yday                     0
month                    0
year                     0
time                     0
wday_sin                 0
wday_cos                 0
yday_sin                 0
yday_cos                 0
month_sin                0
month_cos                0
time_sin                 0
time_cos                 0
Temperature        4318750
Distance           4318750
is_off_week_day          0
dtype: int64

In [56]:
site_id_list = set(meta['SiteId'])
all_sites_meta = pd.DataFrame(columns=['SiteId', 'wday', 'is_off_week_day'])


for site in site_id_list:
    # Extract the metadata information for the site
    meta_slice = meta.loc[meta['SiteId'] == site]

    site_meta = pd.DataFrame(
        columns=['SiteId', 'wday', 'is_off_week_day'],
        index = [0, 1, 2, 3, 4, 5, 6]
    )

    site_meta['wday'] = [0, 1, 2, 3, 4, 5, 6]
    site_meta['SiteId'] = site

    site_meta.at[0, 'is_off_week_day'] = float(meta_slice['MondayIsDayOff'].iloc[0])
    site_meta.at[1, 'is_off_week_day'] = float(meta_slice['TuesdayIsDayOff'].iloc[0])
    site_meta.at[2, 'is_off_week_day'] = float(meta_slice['WednesdayIsDayOff'].iloc[0])
    site_meta.at[3, 'is_off_week_day'] = float(meta_slice['ThursdayIsDayOff'].iloc[0])
    site_meta.at[4, 'is_off_week_day'] = float(meta_slice['FridayIsDayOff'].iloc[0])
    site_meta.at[5, 'is_off_week_day'] = float(meta_slice['SaturdayIsDayOff'].iloc[0])
    site_meta.at[6, 'is_off_week_day'] = float(meta_slice['SundayIsDayOff'].iloc[0])

    all_sites_meta = pd.concat([all_sites_meta,site_meta])
    
train = train.merge(all_sites_meta, how = 'left', on = ['SiteId', 'wday'])
test = test.merge(all_sites_meta, how = 'left', on = ['SiteId', 'wday'])

In [75]:
all_sites_meta.head(20)

  SiteId wday is_off_week_day
0      1    0             0.0
1      1    1             0.0
2      1    2             0.0
3      1    3             0.0
4      1    4             0.0
5      1    5             1.0
6      1    6             1.0
0      2    0             0.0
1      2    1             0.0
2      2    2             0.0
3      2    3             0.0
4      2    4             0.0
5      2    5             1.0
6      2    6             1.0
0      3    0             0.0
1      3    1             0.0
2      3    2             0.0
3      3    3             0.0
4      3    4             0.0
5      3    5             1.0